:root {
    /* THEME 1 BACKGROUNDS */
    --very-dark-desaturated-light : hsl(222, 26%, 31%);  /* main background */
    --very-dark-desaturated-medium : hsl(223, 31%, 20%); /* toggle background, keypad background) */
    --very-dark-desaturated-blue : hsl(224, 36%, 15%);   /* screen background */

    /* THEME 1 KEYS */
    --desaturated-dark-blue : hsl(225, 21%, 49%);        /* key background */
    --desaturated-dark-blue-shadow : hsl(224, 28%, 35%); /* key shadow */
    --key-red : hsl(6, 63%, 50%);       /* key background, toggle */
    --hadow-red : hsl(6, 70%, 34%); /* key shadow */
    --light-grayish-orange : hsl(30, 25%, 89%); /* key background */
    --grayish-orange : hsl(28, 16%, 65%);       /* key shadow */

    /* THEME 1 TEXT */
    --very-dark-grayish-blue : hsl(221, 14%, 31%); 
    /* white */

    /* THEME 2 BACKGROUNDS */
    --light-gray : hsl(0, 0%, 90%);      /* main background */
    --grayish-red : hsl(0, 5%, 81%);     /* toggle background, keypad background) */
    --very-light-gray : hsl(0, 0%, 93%); /* screen background */

    /* THEME 2 KEYS */
    --dark-moderate-cyan : hsl(185, 42%, 37%); /* key background */
    --very-dark-cyan : hsl(185, 58%, 25%);     /* key shadow */
    --orange : hsl(25, 98%, 40%);              /* key background, toggle */
    --dark-orange : hsl(25, 99%, 27%);         /* key shadow  */
    --light-grayish-yellow : hsl(45, 7%, 89%); /* key background */
    --dark-grayish-orange : hsl(35, 11%, 61%); /* key shadow */

    /* THEME 2 TEXT */
    --very-dark-grayish-yelloww : hsl(60, 10%, 19%);
    /* WHITE */

    /* THEME 3 BACKGROUNDS */
    --very-dark-violet : hsl(268, 75%, 9%);        /* main background */
    --very-dark-violet-light : hsl(268, 71%, 12%); /* toggle background, keypad background, screen background */

    /* THEME 3 KEYS */
    --dark-violet : hsl(281, 89%, 26%);      /* key background */
    --vivid-magenta : hsl(285, 91%, 52%);    /* key shadow */
    --pure-cyan : hsl(176, 100%, 44%);       /* key background, toggle */
    --soft-cyan : hsl(177, 92%, 70%);        /* key shadow */
    --very-dark-violet : hsl(268, 47%, 21%); /* key background */
    --dark-magenta : hsl(290, 70%, 36%);     /* key shadow */

    /* THEME 3 TEXT */ 
    --light-yellow : hsl(52, 100%, 62%);
    --very-dark-blue : hsl(198, 20%, 13%);
    --white : hsl(0, 0, 100%);
}

/* GENERAL CONFIGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background: var(--very-dark-desaturated-light);
}

button {
    cursor: pointer;
    outline: none;
    transition: opacity, 0.3s, color, 0.3s;
    border: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
/* HEADER */ 
.header-container {
    width: 530px;
}

.header-position {
    display: flex;
    justify-content: space-between;
}

.calc-text {
	display: flex;
	justify-content: space-between;
    color: white;
}

.theme-text {
    font-size: 11px;
    letter-spacing: 2px;
    position: relative;
    top: 6px;
    right: 10px;
}

.control-themes {
	display: flex;
	justify-content: flex-end;
}

.control-themes p{
	color: white;
	cursor: pointer;
	margin-right: 4px;
}

.box-numbers-circle {
	width: 60px;
	height: 23px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
}

.numbers-theme {
	display: flex;
    position: relative;
    left: 8px;
    bottom: 18px;
    letter-spacing: 9px;
    font-size: 10px
}

.control-themes #circle {
	width: 15px;
	height: 15px;
	background-color: var(--key-red);
	position: relative;
	top: -9px;
	left: 5px;
	z-index: 1;
	border-radius: 30px;
}

.calc-nums p {
	margin: 0 5px;
	color: white;
	cursor: pointer;
}

body.active1 .calc-nums h3 {
	color: #111;
}

body.active1 .control-themes .box { 
	background-color: var(--twotkbg);
}

body.active1 .control-themes #circle {
	background-color: hsl(25, 98%, 40%);
}

body.active1 .control-themes p {
	color: #111;
}
body.active1 .right-header p {
	color: #111;
}

body.active2 .calc-nums h3 {
	color: hsl(52, 100%, 62%);
}

body.active2 .control-themes #circle {
	background-color: hsl(176, 100%, 44%);
}

body.active2 .control-themes p {
	color: hsl(52, 100%, 62%);
}

body.active2 .right-header p {
	color: hsl(52, 100%, 62%);
}

/* SCREEN RESULT */
.internal-screen-result {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    letter-spacing: 3px;
    height: 100px;
    width: 533px;
    margin: 20px 0;
    padding-right: 20px;
    border-radius: 10px;
    background: var(--very-dark-desaturated-blue);
}

/* BODY CALCULATOR */
.buttons-container {
    width: 533px;
    padding: 20px;
    background: var(--very-dark-desaturated-medium); 
    border-radius: 10px;
}

/* MATH BUTTONS */
.buttons-area button {
    font-size: 32px;
    width: 100px;
    height: 60px;
    margin: 10px 10px 15px 10px;
    border-radius: 10px;
    color: var(--desaturated-dark-blue-shadow);
    background: var(--light-grayish-orange);
    box-shadow: 0 4px 0 var(--grayish-orange);
}

/* DIF BUTTONS */
.buttons-area .del-button {
    font-size: 20px;
    position: relative;
    bottom: 4px;
    color: white;
    background: var(--desaturated-dark-blue);
    box-shadow:0px 5px 0px var(--desaturated-dark-blue-shadow);
}

.reset-igual-position {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.buttons-area .reset-button {
    font-size: 20px;
    width: 225px;
    color: white;
    border-radius: 10px;
    background: var(--desaturated-dark-blue);
    box-shadow:0px 4px 0px var(--desaturated-dark-blue-shadow);
}

.buttons-area .igual-button {
    font-size: 20px;
    width: 225px;
    border-radius: 10px;
    color: white;
    background: var(--key-red);
    box-shadow: 0 4px 0 var(--hadow-red);
}

/* GENERAL BUTTONS */
button:hover {
    opacity: 0.9;
}

button:active {
    position: relative;
    left: 1px;
    top: 1px;
}

/* FOOTER */
footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

footer a {
    color: yellow;
    text-decoration: none;
}